@colorMain: #E7EBF8;
@colorMainInverse: #0C1C4D;
@textColorMain: #444444;
@standardRadius: 2px;

/* UTILITIES */
.noPadding
{
    padding: 0;
}

.noMargin
{
    margin: 0;
}

.noAutoMargin
{
    margin-left: 0;
    margin-right: 0;
}

/* MAIN */
html, body, #app, #app>div {
  height: 100%;
  background-color: @colorMain;
}

.headerNavbar {
    background-color: @colorMainInverse;
}

.background {
    background-color: #FFFFFF;
}

.fill {
    flex:1;
    height: 100%;
}

.root{
    min-height: 100%;
    height: 100%;
    padding: 20px;
    display:flex;
    flex-direction:column;
}

.mainContainer
{
    border-radius: @standardRadius;
    border: none;
}

@media (max-width: 768px){
    .navbar {
        border-radius: 4px;
    }

    .container {
        .noAutoMargin();
    }
}
